<div class="game-page big-screen" data-locale="<%= I18n.locale %>">
  <%= hidden_field_tag(:game_id, @game.id) %>

  <div id="qrcode-modal" class="modal" tabindex="-1">
    <div class="modal-dialog modal-xl modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= t(:access_game_via_qr_code) %></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body d-flex justify-content-center align-items-center" style="min-height: 50vh;">
          <div id="qrcode" class="d-inline-block p-2 bg-white rounded" data-share-url="<%= @game.share_url %>" data-size="big"></div>
        </div>
      </div>
    </div>
  </div>

  <div class="container py-4">
    <div class="game-header text-center mb-4">
      <h1 class="game-title">LET'S BINGO!</h1>
      <h2 class="game-name">
        <%= @game.name %>
        <button class="btn btn-primary" onclick="playStartAudio('<%= I18n.locale %>')">Play Audio</button>
      </h2>
    </div>

    <div class="row g-4">
      <div class="col-12 mx-auto">
        <div class="game-card">
          <div class="text-center">

            <%= render 'games/bingo_title_row' %>

            <div class="container bingo-grid">
              <% board_array = @game.board.to_a %>
              <% 5.times do |row| %>
                <div class="row mb-2">
                  <% 15.times do |col| %>
                    <% num, selected = board_array[col * 5 + row] %>
                    <div class="col px-1">
                      <div id="num_<%= num %>" class="btn w-100 py-2 fs-1 border rounded <%= selected ? 'btn-primary text-white' : 'btn-light' %>">
                        <%= num %>
                      </div>
                    </div>
                  <% end %>
                </div>
              <% end %>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
