<h1>
  <%= @game.name %>
  <% if @player.master %>
    <%= link_to t(:reset), reset_games_path(slug: @game.slug), :class => "btn btn-danger" %>
  <% end %>
</h1>

<div class="row">
  <% if @player.master %>
    <div class="col">
      <%= render 'board' %>
    </div>

    <div class="col">
      <%= render 'game_controls' %>
    </div>
  <% end %>

  <div class="col">
    <%= render 'last_number' %>
    <%= render 'player' %>
  </div>
</div>
