<div class="player">
  <h2><%= player.name %></h2>
  <ul class="card">
    <% player.card.each_with_index do |(num, selected), index| %>
      <% if(index % 5 == 0) %>
        <li class="header"><%= ['B', 'I', 'N', 'G', 'O'][index / 5] %></li>
      <% end %>
      <% if(num == :X) %>
        <li class="selected"><%= num %></li>
      <% else %>
        <li class="<%= selected ? 'selected' : '' %>">
          <%= link_to num, select_number_games_path(number: num) %>
        </li>
      <% end %>
    <% end %>
  </ul>
</div>
